.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #fff;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}

/*Home styles*/
.sliderLayoutContainer--carousel {
  margin-bottom: 2rem;
}

/****************/
/*MOBILE HOME*/
/****************/
.sliderLayoutContainer--slider-moible {
  display: none;
}
@media screen and (max-width: 700px) {
.sliderLayoutContainer--slider-moible {
    display: block;
}
.sliderTrack--categorias2-banners {
  width: 600% !important;
}
.slideChildrenContainer--categorias2-banners.slideChildrenContainer--slider-moible {
  margin: 0 3px;
}
.sliderLayoutContainer.sliderLayoutContainer--shelf {
  width: 100%;
}
}
/*------------------------------------*/
/*    MOBILE DEPARTAMENTO HOMBRE      */
/*------------------------------------*/
.sliderLayoutContainer--depto-mobile {
  display: none;
}
@media screen and (max-width: 700px) {
.sliderLayoutContainer--depto-mobile {
    display: flex;
  }
.sliderTrackContainer.sliderTrackContainer--deals.sliderTrackContainer--depto-mobile {
  margin: 0 25px;
}
.sliderLeftArrow--depto-mobile {
  margin: 0;
  padding: 0;
}
.sliderRightArrow--deals.sliderRightArrow--depto-mobile {
  padding: 0;
  margin: 0;
}
.slide--depto-mobile {
  margin: 0 6px;
}
.sliderLayoutContainer--deals.sliderLayoutContainer--depto-mobile {
  margin-top: -30px;
}
}
/*Vitrinas*/
.dotsContainer{
  display: none !important;
}

.sliderLayoutContainer--shelf{
  padding: 0 !important;
}

/*Slider vitrinas*/
.sliderLayoutContainer.sliderLayoutContainer--shelf {
  width: 80%;
}
