/*-------------------------------*/
/* parte en la que se elige los detalles del producto...talla... se ven las fotos en fila...
Estilos Producto Sección Contenido AC*/
/*-------------------------------*/
.childrenContainer--producto--como--saber--mi--talla--contenedor{
    margin-top: -38px;
}

.link--producto--como--saber--mi--talla--contenedor{
    text-decoration: none;
}

.childrenContainer--producto--como--saber--mi--talla--contenedor :global(.vtex-rich-text-0-x-paragraph){
    color: #181e2a;
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 700;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.link--botones.buttonLink.buttonLink--botones {width: 100%;margin: 0 auto;display: block;text-align: center;padding-top: 3%;background: white;border-radius: 0;color: black;margin-bottom: 14%;}


/* Rangos de precios en Bono Regalos Padres */
.link--linkRangePrice{
    text-decoration: none !important;
    color: #151d29;
}
/*--------------------------------------*/
