.styledLinkContent--item {
    border: none;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 35px;
}

.styledLinkContent--item:hover {
width: 100%;
text-decoration: underline;
transition: all .8s;
}

.styledLinkContent--sales{
    border: none;
    font-size: 15px;
    color: red;
}
