/*-------------------------------------*/
/*           Category-menu            */
/*----------   ----------------------*/

.styledLinkContent--item {
  border: none;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 35px;
  margin-top: 8px;
}

.styledLinkContent--sales {
  border: none;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 35px;
  margin-top: 8px;
}

.styledLinkContent--item:hover {
  width: 100%;
  text-decoration: underline;
  transition: all .8s;
}

.styledLinkContent--sales:hover {
  width: 100%;
  text-decoration: underline;
  transition: all .8s;
}

/* >>>>>Cierre de Category-menu*/


/*Color solo para palabra OFERTAS de category menu*/
.styledLinkContent--sales{
  border: none;
  font-size: 15px;
  color: red;
}

/*Menú #1 del header*/

.styledLinkContainer .mh6 .pv5 {
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}

.imageElement--storePrint {
  max-width: 15px;
  max-height: 15px;
  margin-top: 13px;
  margin-right: -19px;
  font-weight: 500;
}

/*---------------------------------------------*/
/*       Tamaño de altuta de top-menu         */
/*-------------------------------------------*/
.menuContainer {
  height: 28px;
  margin-bottom: 5px;
  margin-right: 10px;
}
/* >>>>>Cierre de Tamaño de altura de top-menu*/


/*---------------------------------------------*/
/* sub menu css                                */
/*---------------------------------------------*/
.styledLinkContent--home__mis-pedidos--mi-cuenta{
  position: absolute;
  top: 5px;
  left: 9%;
  font-size: 12px;
}

.submenuWrapper--submenu--mi-cuenta{
  top: -9px;
  width: 114px;
  height: 5px;
  left: -16px;
  box-shadow: 0px -2px 0px rgb(0 0 0 / 70%), 0px 0px 20px -7px rgb(0 0 0 / 70%);
}


.submenuWrapper--submenu--contactenos{
  left: -95px;
  top: -9px;
  height: 365px;
  width: 308px;
  box-shadow: 0px -2px 0px rgb(0 0 0 / 70%), 0px 0px 20px -7px rgb(0 0 0 / 70%);
}

.submenuWrapper--paises--opciones{
  width: 100px;
  height: 100px;
  left: -11px
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>