/*Footer Styles*/

.trigger--hidden {
    background: none;
    box-shadow: none;
    border: none;
    color: white;
}

.trigger--visible {
    background: none;
    box-shadow: none;
    border: none;
    color: white;
}

.content--visible {
    display: block;
    margin: 0 auto;
}
