/*Buy butom */
.buttonText::after {
  content: "";
  background: url(https://callearturop.vteximg.com.br/arquivos/carrito.png) no-repeat;
  background-size: 100%;
  width: 17px;
  height: 20px;
  position: absolute;
  right: 8%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.buttonText {
    color: white;
}

.buttonText:hover {color: black;
    background: #dadada;
}

.buttonDataContainer {
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: end;
}

.buttonText {
    width: 100%;
    height: 100%;
    padding: 4% 0%;
}
.buttonText:hover::after{
    background: url(https://arturocalle.vteximg.com.br/arquivos/carrito%20gris.png) no-repeat;
    background-size: 100%;
}

.buttonText--botonvitrina {
    font-size: 0;
}
.buttonText--botonvitrina {
    font-size: 0;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonText--botonvitrina::after {
    background: none;
}

.buttonText--botonvitrina {
    background: url("https://callearturop.vteximg.com.br/arquivos/cta.png") no-repeat;
    width: 50px;
    height: 50px;
    background-size: 100%;
}
.buttonText--botonvitrina:hover {
    background: url("https://callearturop.vteximg.com.br/arquivos/cta-hover.png") no-repeat;
    width: 50px;
    height: 50px;
    background-size: 100%;
}
.buttonText--botonvitrina:hover::after {
    background: none;

}

@media screen and (max-width: 700px) {
    .buttonText--botonvitrina {width: 40px;height: 40px;}
    .buttonText::after {
        right: 10% !important;
         }
    .buttonText--botonvitrina::after {display: none;}

    }

    @media screen and (min-width: 700px) and (max-width: 1026px) {

    .buttonText--botonvitrina {
      background: url(https://callearturop.vteximg.com.br/arquivos/cta.png) no-repeat;
      width: 40px;
      height: 40px;
      background-size: 100%;
    }
    }
