.tittle--shoes {
    display: none;
    visibility: hidden;
}

/*------------------------------------*/
/*    MOBILE DEPARTAMENTO HOMBRE      */
/*------------------------------------*/
@media screen and (max-width: 700px) {
  .title {
      font-size: 25px;
      width: 75%;
      margin: 50px auto 7px;
      color: black;
      font-weight: 600;
  }
  .container {
      padding-bottom: 0;
  }
  .container--shoes {
      padding-bottom: 0;
  }
}

/*Contenedores Product*/
.tittle--shoes {
    display: none;
    visibility: hidden;
}
.title--vitrineP {
    margin: -36px 0 0 0 !important;
    padding-top: 2%;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
}

.title--vitrineP::after {
    width: 10%;
    border-bottom: 1px solid;
    content: "";
    display: flex;
    height: 0px;
    align-items: center;
    margin: 0 0 0 15%;
}
.title--vitrineP::before {
    width: 10%;
    border-bottom: 1px solid;
    content: " ";
    display: flex;
    height: 0px;
    align-items: center;
    margin: 0 15% 0 0;
}
.relatedProducts--vitrineP {
    background: #fafafa;
}

.relatedProducts--vitrineP {
    padding-bottom: 5%;
}
.dotsContainer {
    display: none;
}