.openIconContainer {
  margin-top: 8px;
}

.openIconContainer--minicart-home{
  margin-right: 30px;
}

/*---------------------------------*/
/* mini cart css                   */
/*---------------------------------*/

.minicartContainer--minicart-home{
  margin-top: 20px;
}
/*>>>>>>>>>>>Cierre mini cart css*/
