.productHighlightWrapper--collection {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
}

.productHighlightText {
  background: antiquewhite;
  border-radius: 20px;
  padding: 4px 10px;
}


/*AJUSTE FLAG NUEVOS*/
.productHighlightText[data-highlight-name="NEW Products"] {
  display: block !important;
  font-size: 0 !important;
}
.productHighlightText[data-highlight-name="NEW Products"]::after {
  content: "Nuevo";
  font-size: 14px !important;
  text-align: center;
  display: block;
}
