.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0;
  }
}

.flexRowContent--menu-link {
  background-color: white;
  color: black;
}

.flexRowContent--main-header {
  background-color: white;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: white;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: black;
  font-size: 10px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: black;
  font-weight: 700;
  font-size: 13px;
}
.flexRow--deals {
  background-color: transparent;
  padding: 14px 0px;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: -50px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--more{
  margin-left: 5%;
  margin-right: 5%;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexColChild--dealschild{
  margin-left: 5px;
  margin-right: 5px;
}


.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRowContent--main-header {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.flexRowContent--menu-row {
  margin-top: 10px;
  margin-left: 15%;
  align-items: center;
  color: #fff;
}
