.styledLinkContent--item {
  border: none;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 35px;
}

.styledLinkContent--item:hover {
  width: 100%;
  text-decoration: underline;
  transition: all .8s;
}

/*Color solo para palabra OFERTAS de category menu*/
.styledLinkContent--sales{
  border: none;
  font-size: 15px;
  color: red;
}

/*Menú #1 del header*/
.styledLinkContainer .mh6 .pv5 {
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}

.imageElement--storePrint {
  max-width: 15px;
  max-height: 15px;
  margin-top: 13px;
  margin-right: -19px;
  font-weight: 500;
}
