
/*Category*/
.link::before {
    content: " / ";
}

.link {
    text-transform: uppercase;
    font-size: 12px;
}

.caretIcon {
    display: none;
}

.homeIcon {display: none;}

.homeLink::before {
    content: "ARTURO CALLE";
    font-size: 12px;
}

.homeLink {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
}

/*product*/
.container--breadP {
    margin: 1% 2% 0 2%;
  }
.term--breadP{
    display: none;
}