/*---------------------*/
/* stilo miga de pan*/
/*---------------------*/

.container{
    margin-left: 30%;
    font-size: 9px;
    color: #a0a0a0;
    text-transform: uppercase;
}

/*>>>>>>>>>>>>>>>>>>>>>*/