/*Estilos del boton que ciuerra el lgin */
.container--close-Login {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    display: flex;
    right: 0;
    z-index: 999;
    justify-content: center;
}
.paragraph--close-Login{
    margin: 0;
}
.link--close-Login{
    background: none;
    color: #34415b;
    font-size: 17px;
    padding: 0;
    font-weight: bold;
    top: 0;
    font-family: inherit;
    display: block;
    text-decoration: none;
}
.link--close-Login:hover{
    color: #34415b;
}
