/*--------------------------------*/
/* Medidas Tableta Departamentos */
/*------------------------------*/
@media screen and (max-width: 1200px) {
  .infoCardContainer.infoCardContainer--info-card-banner-left {
      width: 90%;
  }

  .infoCardContainer.infoCardContainer--info-card
  {
    margin: 0;
    width: 98%;
  }

  .infoCardContainer.infoCardContainer--info-card--down
  {
    margin: 0 0 0 auto;
    width: 98%;
  }

  .infoCardContainer.infoCardContainer--info-card-shoes
  {
    height: 600px;
  }

  .imageElementLink.imageElementLink--info-card--down .imageElement--info-card--down {
    width: 96%;
  }

  .imageElementLink.imageElementLink--info-card .imageElement--info-card {
    width: 96%;
  }
}

@media screen and (max-width: 900px) {
  .infoCardContainer.infoCardContainer--info-card-shoes
  {
    height: 545px;
  }
}


@media screen and (max-width: 700px) {
  .infoCardContainer.infoCardContainer--info-card-shoes-left.infoCardContainer--depto-mobile {
      height: 135px;
  }
  .infoCardContainer--depto-mobile {
      height: 410px;
  }

  .infoCardContainer.infoCardContainer--info-card-banner-left {
    width: 100%;
  }

  /*Quitar banner de desk en mobile*/
  .imageElement.imageElement--info-card-home.imageElement--depto-desk {
    display: none;
  }

  .imageElement.imageElement--info-card-shoes-left.imageElement--depto-desk {
    display: none;
  }

  .imageElement.imageElement--info-card-shirt-right.imageElement--depto-desk {
    display: none;
  }

}

/***********************************/
/*         AJUSTES DISEÑO          */
/***********************************/
/***********************************/
/*           WHATSAPP              */
/***********************************/
.infoCardTextContainer--icono-whatsapp {
  width: 100%;
  margin: 0;
  height: 100%;
  border: none;}
.infoCardContainer--icono-whatsapp {
  position: fixed;
  bottom: 1%;
  width: 50px;
  height: 50px;
  right: 1%;
  z-index: 9;
  border: none;
}
.infoCardCallActionContainer.infoCardCallActionContainer--icono-whatsapp {
  width: 100%;
  height: 100%;
  margin: 0;
}
.infoCardCallActionContainer.infoCardCallActionContainer--icono-whatsapp :global(.vtex-button) {
  background: transparent;
  height: 100%;
  width: 100%;
  border: none;
}
.infoCardCallActionContainer.infoCardCallActionContainer--icono-whatsapp :global(.vtex-button) :global(.vtex-button__label) {
  border: none;
}
.infoCardContainer--info-card-banner-right {
  background-size: 100% !important;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.infoCardContainer--info-card-banner-left {
  background-size: 100% !important;
  width: 90%;
  background-color: transparent;
  background-position: center;
  border: none;
}
.infoCardContainer.infoCardContainer--info-card-shoes-left.infoCardContainer--depto-desk {
  background-size: 84% !important;
  background-color: transparent;
  max-width: 350px;
  height: 520px;
  border: none;
  margin: 0 auto;
}
.infoCardContainer.infoCardContainer--info-card-shirt-right.infoCardContainer--depto-desk {
  background-size: 84% !important;
  background-color: transparent;
  max-width: 350px;
  height: 520px;
  margin: 0 auto;
  border: none;
}
@media screen and (min-width: 1400PX) {
.infoCardContainer.infoCardContainer--info-card-home.infoCardContainer--depto-desk {
      max-width: initial;
      height: 478px;
  }
.infoCardContainer--info-card-banner-right {
    height: 330px;
}
.infoCardContainer--info-card-banner-left {
    height: 330px;
}
}
@media screen and (max-width: 1200px) {
.infoCardContainer.infoCardContainer--info-card-shoes-left.infoCardContainer--depto-desk {
  background-size: 114%!important;
  background-color: transparent;
  max-width: 305px;
  width: 95%;
  background-position: inherit;
  margin: 0 auto 0 0;
}
.infoCardContainer.infoCardContainer--info-card-shoes {
  background-size: 100% !important;
  background-color: transparent;
}
.infoCardContainer.infoCardContainer--info-card-shirt-right.infoCardContainer--depto-desk {
  background-size: 114%!important;
  background-color: transparent;
  max-width: 305px;
  width: 95%;
  background-position: inherit;
  margin: 0 0 0 auto;
}
}


/*---------------------ZOOM PAGINA DE PRODUCTO*/
.productImagesGallerySlide {
  width: 100% !important;
}
.productImageTag.productImageTag--images-modal-zoom.productImageTag--main.productImageTag--images-modal-zoom--main:hover {
  transform: scale(1);
}
.productImageTag.productImageTag--main {
  max-height: none !important;
  margin: 10px;
}
.productImage.productImage--images-modal-zoom:last-child {
  left: 0;
}
@media screen and (max-width: 700px) {
  .productImageTag.productImageTag--main {
    max-height: none !important;
    margin: 10px 0;
  }

  /*.skuSelectorSubcontainer--talla.skuSelectorSubcontainer {
    opacity: 1;
    visibility: visible;
    position: relative;
    top: 0;
  }/*

  /*Quitar ícono de flechas en mobile*/
  .swiperCaret {
    display: none;
  }
}
/*Adicionales*/
.imageElement.imageElement--info-card-home.imageElement--depto-desk {
  width: 100%;
}
/*test*/



/*---------------------------*/
/* Banner principal         */
/*-------------------------*/
.infoCardContainer.infoCardContainer--info-card-home.infoCardContainer--depto-desk {
  width: 100%;
}
/*--------------------------*/


/*-------------------------------*/
/* Banner Secundario Derecho    */
/*-----------------------------*/
.imageElement.imageElement--info-card-banner-right {
  width: 100%;
}
/*-----------------------*/


/*---------------------------------*/
/* Banner Secundario Izquierdo    */
/*-------------------------------*/
.imageElement.imageElement--info-card-banner-left {
  width: 92.9%;
}
/*-----------------------*/


/*--------------------------------------*/
/* Banner Terciario Izquierdo Grande   */
/*------------------------------------*/
.imageElement.imageElement--info-card-shoes {
  width: 98%;
  height: 98.2%;
}
/*-----------------------*/


/*------------------------------------*/
/* Banner Terciario Derecho Arriba   */
/*----------------------------------*/
.imageElement.imageElement--info-card {
  width: 100%;
}
/*-----------------------*/


/*------------------------------------*/
/* Banner Terciario Derecho Abajo    */
/*----------------------------------*/
.imageElement.imageElement--info-card--down {
  width: 100%;
}
/*-----------------------*/






