/*Estilos de filtros en productos category*/
.trigger--fitroTrigger2--visible::after{
  content: "cerrar X";
  font-size: 22px;
  position: absolute;
  top: 3%;
  width: 28%;
  text-transform: uppercase;
  left: 0;
  cursor: pointer;
  text-align: end;
  font-weight: 700;
  color: black;
}

.trigger--fitroTrigger2--visible :global(.vtex-rich-text-0-x-paragraph--tituloFiltro){
  display: none;
}
.trigger--fitroTrigger2--visible {position: absolute;width: 100%;height: 100%;z-index: 1;}



