@media screen and (max-width: 700px) {

.brandName {
  font-size: 12px;
}
.nameWrapper {min-height: 56px;}

}

.containerNormal {
  max-width: 90% !important;
}

.containerNormal {max-width: 90% !important;
  border-radius: 0;}

.imageStackContainer {width: 100%;}

.element {padding-top: 0;}


.skuSelectorItem--selected {border-radius: 5px;}


@media screen and (min-width: 700px) and (max-width: 1026px) {
  .productBrand.brandName {
    min-height: 60px;
    display: block;
}
}

.productNameContainer{
  min-height: 60px;
  padding: 0 5px;
}
/*Quitar borde de color en category*/
.frameAround.frameAround--vitrina {
  border: none;
}
.container--categoria .productNameContainer{
  min-height: 40px;
}
