.flexColChild--circuloN {
  border-radius: 50%;
}

.flexColChild--circuloN {
  position: relative;
}

.flexColChild--circuloN::before {
  content: "0";
  color: white;
  display: block;
  top: 30%;
  font-size: 14px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.flexRowContent--menu-nivel-hombre-cats {
  min-height: 460px;
}

/*Remplazar y quitar important*/
.flexRowContent--menu-nivel-hombre-cats {
  background-color: rgb(255 255 255 / 95%)!important;
  right: 0px !important;
  width: 100% !important;
}
.flexColChild--circuloN::before {
  top: 27% !important;
}
/*Cerrar remplazos*/

.flexRowContent--menu-link {
  max-height: 28px;
}
.styledLinkContent--texpre {
  letter-spacing: 0.2px;
}

.flexColChild--botoncomp :global(.vtex-button){
  color: #181e2a !important;
}
.flexColChild--botoncomp :global(.vtex-button__label){
  background: #181e2a ;
}
.flexColChild--botoncomp {background: #181e2a;}

@media screen and (max-width: 700px) {
.flexRowContent--newsletter-form--contenedor--footer {background: #181e2a;padding-top: 16px;}
.flexRowContent--newsletterP .stretchChildrenWidth {padding: 0 6%;}

.container--breadP.pv3 {flex-wrap: wrap;}

.flexRow--breadproduct {
    position: relative;
    margin: 0;
}

.flexRowContent--breadproduct {
    margin: 0;
}
.flexRowContent--imageCP {
  margin: 20px 0 0 0;
  padding: 8% 3%;
}
.flexRowContent--main-header-mobile {
  max-height: 48px;
}
.flexCol--lateralColM {
  padding: 0 2%;
}
.flexCol--buycolection {
  display: flex;
  justify-content: end;
  margin-left: 0%;
}

}
.flexRow--minicart-footer{
  background:#18202c;;
  margin: 0 !important;
  width: 100% !important;
}
/*Ajustes producto*/

.flexCol--lateralCol {padding: 0 4% 0 0;}
.flexRowContent--rowSearchInfo {
  margin-bottom: 45px;
}

/*Newsletter*/
.flexColChild--texton {justify-content: center;display: flex;}

.flexCol--campos {display: flex;justify-content: normal;}

.flexRowContent--newsletterP .stretchChildrenWidth {display: flex;}

.flexRow--newsletterP {margin-bottom: 61px;}

/*Sticky product*/

.flexRowContent--componente {width: 80%;justify-content: center;display: flex;align-items: center;margin: 0 auto;}

.flexRow--componente {box-shadow: 0px 0px 0px 1px #b2afaf73;}

.flexColChild--botoncompS :global(.vtex-button__label) {background: #151d29;width: 100%;padding: 0 !important;margin: 0;}

.flexColChild--botoncompS :global(.vtex-button) {border: none;}

.flexRow--newsletter-form--contenedor--footer {background: #181e2a;}



