
@media screen and (max-width: 700px) {
  .listContainer {
    width: 95%;
}

.contentContainer {
    width: 95%;
}

}

.container--home__product__Hombre .contentContainer {
  border: none;
  width: 100%;
}
.container.container--product {margin-right: 1.3%;}
