/*Colores del header en textos*/
.link--pais--guatemala, .link--pais--salvador, .link--pais--costa-rica, .link--pais--panama {
  color: black;
  text-decoration: none;
}
/*Menu color*/
.link--item-cat-bold-warn {
  color: red;
}
/*Quitar los importants*/

.paragraph--pais--panama .wrapper--pais--guatemala {
    position: absolute;
    top: -3px;
    font-size: 10px;
    left: 0px;
    width: 100px;
    height: 28px;
    box-shadow: 0px 1px 0px rgb(0 0 0 / 30%);
}

.paragraph--pais--panama .wrapper--pais--panama {
  position: absolute;
  top: -3px;
  font-size: 10px;
  left: 0px;
  width: 100px;
  height: 28px;
  box-shadow: 0px 1px 0px rgb(0 0 0 / 30%);
}

.paragraph--pais--costa-rica .wrapper--pais--costa-rica {
  position: absolute;
  top: -3px;
  font-size: 10px;
  left: 0px;
  width: 100px;
  height: 28px;
  box-shadow: 0px 1px 0px rgb(0 0 0 / 30%);
}

.paragraph--pais--salvador .wrapper--pais--pais--salvador {
  top: 69px;
}
.link--item-cat-bold {
  text-decoration: none;
  color: #151d29 !important;
  font-weight: 900;
}
@media screen and (max-width: 700px) {
.wrapper--terminos {
  margin: 0;
}
.wrapper{
  margin: 0 !important;
}
.headingLevel5--botonnews {margin:10px 0 0 0 !important;font-size: 27px}
}

/*Newsletter*/
.container--botonnews {display: flex;justify-content: normal;}

.wrapper--botonnews .paragraph {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 27px;
}

.heading--botonnews{
  margin: 0;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
}

.container--titlewhish {padding: 0 2%;text-transform: uppercase;justify-content: center; align-items: center;}

.container--titlewhish .heading-level-3 {text-transform: uppercase;text-align: center;}

.container--titlewhish::before {
  width: 10%;
  border-bottom: 1px solid;
  content: " ";
  display: flex;
  height: 0px;
  align-items: center;
  margin: 0 15% 0 0;
}
.container--titlewhish::after{
      width: 10%;
  border-bottom: 1px solid;
  content: "";
  display: flex;
  height: 0px;
  align-items: center;
  margin: 0 0 0 15%;
}
