/*---------------------------------*/
/* paginas estaticas               */
/*--------------------------------*/

/*autorizacion-tratamiento-datos-personales*/
.paragraph--titulo-principal{/*se puede utilizar como titulo en general...ya si no funciona...se copia y modifica*/
    font-size: 30px;
      color: #333;
      font-weight: 600;
      margin-bottom: -6px;
      
  }
  
  .paragraph--sub--titulo{/*se puede utilizar en general... pero se tiene que volver a escribir si se necesita cambiar algo */
    font-size: 25px;
      color: #333;
      font-weight: 600;
  }
  
  .container--contenido{
    text-align: justify;
      color: #333;
      margin: 0 0 10px;
      line-height: 1.4em;
      font-size: 14px;
      font-family: 'DINPro';
      /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
      line-height: 1.42857143;
      margin-bottom: -19px;/*margen entre parrafo y parrafo*/
  }
  
  
  .paragraph--contenido :global(.vtex-rich-text-0-x-link){
    color: #333;
  }
  
  .paragraph--contenido--lista{
    margin-left: 4px;text-align: justify;
    color: #333;
    line-height: 1.4em;
    font-size: 14px;
    font-family: 'DINPro';
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    line-height: 1.42857143;
  }
  
  
  /*preguntas frecuentes*/
  .wrapper--Titulo--preguntas--frecuentes{
    font-size: 15px;
    font-family: 'DINPro';
    line-height: 1.4em;
    margin-left: 10px;
  }
  
  .wrapper--contenido--preguntas--frecuentes{
    font-size: 15px;
      font-family: 'DINPro';
      line-height: 1.4em;
      border: 1px solid #ececec; 
  }
  
  .paragraph--contenido--preguntas--frecuentes{
    margin-left: 26px;
  }
  
  /*linea etica*/
  .paragraph--titulo-principal--linea--etica{
    font-size: 30px;
    color: #333;
    font-weight: 600;
  }
  
  .paragraph--subtitulo-principal--linea--etica{
    font-size: 24px;
    color: #333;
    font-weight: 600;
  }
  
  .wrapper--recuadro{/*se puede utilizar en general para los recuadros necesitados*/
    border-left: 7px solid rgb(207 209 211);
    margin-left: 31px;
  }
  
  .paragraph--recuadro{/*se puede utilizar en general para los recuadros necesitados*/
    margin-left: 10px;
      font-style: italic;
      color: #545860;
      font-size: 15px;
      font-family: 'DINPro';
  }
  
  /*franquicias*/
  
  .wrapper--boton--detalles--contenido{
    margin-top: 10px;
    background-color: #181e2a;
  }
  
  .paragraph--contenido--decorad0{
    font-weight: 700;
      font-family: 'DINPro';
      font-size: 14px;
  }
  
  .paragraph--boton--detalles--contenido{
    padding-left: 14px;
      padding-right: 14px;
      color: white;
      font-size: 14px;
  }
  
  /*politica-etica-empresarial*/
  
  .paragraph--contenido--titulos--con--letras{/*se puede usar en general para todos los titulos con letras*/
    font-weight: 700;
    font-family: 'DINPro';
    font-size: 14px;
    color: #333;
  }
  
  .paragraph--sub--titulos1{
    font-size: 24px;
    color: #333;
    font-weight: 600;
  }
  
  /*viñetas*/
  .listOrdered--sub--titulos1{
    padding-left: 22px;
      font-size: 24px;
      margin-bottom: 5px;
      margin-top: 0px;
      font-weight: 600;
  }
  
  
  .listItem--sub--titulos2::marker {
    content: '2. ';
  }
  
  .listOrdered--sub--titulos2{
    padding-left: 22px;
      font-size: 24px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
  }
  
  .listItem--sub--titulos3::marker {
    content: '3. ';
  }
  
  .listOrdered--sub--titulos3{
    padding-left: 22px;
      font-size: 24px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
  }
  
  .listItem--sub--titulos4::marker {
    content: '4. ';
  }
  
  .listOrdered--sub--titulos4{
    padding-left: 22px;
      font-size: 24px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
  }
  
  .listItem--sub--titulos5::marker {
    content: '5. ';
  }
  
  .listOrdered--sub--titulos5{
    padding-left: 22px;
      font-size: 24px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
  }
  
  .listItem--sub--titulos6::marker {
    content: '6. ';
  }
  
  .listOrdered--sub--titulos6{
    padding-left: 22px;
      font-size: 24px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
  }
  
  .listItem--sub--titulos7::marker {
    content: '7. ';
  }
  
  .listOrdered--sub--titulos7{
    padding-left: 22px;
      font-size: 24px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
  }
  
  .listItem--sub--titulos8::marker {
    content: '8. ';
  }
  
  .listOrdered--sub--titulos8{
    padding-left: 22px;
      font-size: 24px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
  }

  .listItem--sub--titulos9::marker {
    content: '9. ';
  }
  
  .listOrdered--sub--titulos9{
    padding-left: 22px;
      font-size: 24px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
  }

  .listItem--sub--titulos10::marker {
    content: '10. ';
  }
  
  .listOrdered--sub--titulos10{
    padding-left: 30px;
      font-size: 24px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
  }

  .listItem--sub--titulos11::marker {
    content: '11. ';
  }
  
  .listOrdered--sub--titulos11{
    padding-left: 30px;
      font-size: 24px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
  }
  
  /*punto para la viñeta*/
  
  .listItem--contenido--punto::marker {
    content: url(assets/desk/assets-checkout-AC/circulo-negro2.png);
  }
  
  .listOrdered--contenido--punto{
    text-align: justify;
    color: #333;
    font-size: 14px;
    font-family: 'DINPro';
    line-height: 1.42857143;
    margin-bottom: 1px;
    padding-right: 43px;
  }
  
  .listItem--contenido--punto--abierto{
    padding-left: 10px;
  }
  
  .listItem--contenido--punto--abierto::marker {
    content: url(assets/desk/assets-checkout-AC/rec2.png);
  }
  
  .listOrdered--contenido--punto--abierto{
    text-align: justify;
    color: #333;
    font-size: 14px;
    font-family: 'DINPro';
    line-height: 1.42857143;
    margin-bottom: 1px;
    padding-right: 43px;
    margin-left: 32px;
  }
  
  .listItem--contenido--punto{
    padding-left: 10px;
  }
  
  
  /*terminos y condiciones*/
  
  .container--contenido--corrido--a--la--derecha{
    text-align: justify;
    color: #333;
    margin: 0 0 10px;
    font-size: 14px;
    font-family: 'DINPro';
    line-height: 1.42857143;
    margin-bottom: -19px;
    margin-left: 18px;
  }
  .container--paragraph--sub--titulo{
    font-size: 20px;
      color: #333;
      font-weight: 600;
      margin-bottom: -25px;
  }
  
  .container--paragraph--subtitulomenornivel{
    font-size: 14px;
      color: #333;
      font-weight: 600;
      margin-bottom: -25px;
  }
  
  .container--paragraph--subtitulomenornivel2{
    font-size: 18px;
      color: #333;
      font-weight: 600;
      margin-bottom: -25px;
  }
  
  
  /*viñetas  pequeñas*/
  .listOrdered--sub--titulos1--pequeno{
    padding-left: 39px;
      font-size: 14px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
      font-family: 'DINPro';
  }
  
  
  .listItem--sub--titulos2--pequeno::marker {
    content: '2. ';
  }
  
  .listOrdered--sub--titulos2--pequeno{
    padding-left: 39px;
      font-size: 14px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
      font-family: 'DINPro';
  }
  
  .listItem--sub--titulos3--pequeno::marker {
    content: '3. ';
  }
  
  .listOrdered--sub--titulos3--pequeno{
    padding-left: 39px;
      font-size: 14px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
      font-family: 'DINPro';
  }
  
  .listItem--sub--titulos4--pequeno::marker {
    content: '4. ';
  }
  
  .listOrdered--sub--titulos4--pequeno{
    padding-left: 39px;
      font-size: 14px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
      font-family: 'DINPro';
  }
  
  .listItem--sub--titulos5--pequeno::marker {
    content: '5. ';
  }
  
  .listOrdered--sub--titulos5--pequeno{
    padding-left: 39px;
      font-size: 14px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
      font-family: 'DINPro';
  }
  
  .listItem--sub--titulos6--pequeno::marker {
    content: '6. ';
  }
  
  .listOrdered--sub--titulos6--pequeno{
    padding-left: 39px;
      font-size: 14px;
      margin-bottom: 5px;
      margin-top: 18px;
      font-weight: 600;
      font-family: 'DINPro';
  }
  
  .listItem--sub--titulos7--pequeno::marker {
    content: '7. ';
  }
  
  .listOrdered--sub--titulos7--pequeno{
    padding-left: 39px;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 18px;
    font-weight: 600;
    font-family: 'DINPro';
  }
  
  .listItem--sub--titulos8--pequeno::marker {
    content: '8. ';
  }
  
  .listOrdered--sub--titulos8--pequeno{
    padding-left: 39px;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 18px;
    font-weight: 600;
    font-family: 'DINPro';
  }
  
  .wrapper--contenido--terminos--y--condiciones--vinetas{
    text-align: justify;
      color: #333;
      font-size: 14px;
      font-family: 'DINPro';
      line-height: 1.42857143;
      margin-left: 145px;
      margin-top: -38px;
  }
  
  .wrapper--contenido--terminos--y--condiciones--vinetas--3{
    text-align: justify;
      color: #333;
      font-size: 14px;
      font-family: 'DINPro';
      line-height: 1.42857143;
      margin-left: 176px;
      margin-top: -38px;
  }
  
  .wrapper--contenido--terminos--y--condiciones--vinetas--4{
    text-align: justify;
      color: #333;
      font-size: 14px;
      font-family: 'DINPro';
      line-height: 1.42857143;
      margin-left: 166px;
      margin-top: -38px;
  }
  
  .wrapper--contenido--terminos--y--condiciones--vinetas--5{
    text-align: justify;
      color: #333;
      font-size: 14px;
      font-family: 'DINPro';
      line-height: 1.42857143;
      margin-left: 166px;
      margin-top: -38px;
  }
  
  .wrapper--contenido--terminos--y--condiciones--vinetas--6{
    text-align: justify;
      color: #333;
      font-size: 14px;
      font-family: 'DINPro';
      line-height: 1.42857143;
      margin-left: 408px;
      margin-top: -41px;
  }
  
  
  .wrapper--contenido--terminos--y--condiciones--vinetas--7{
    text-align: justify;
      color: #333;
      font-size: 14px;
      font-family: 'DINPro';
      line-height: 1.42857143;
      margin-left: 265px;
      margin-top: -38px;
  }
  
  .wrapper--contenido--terminos--y--condiciones--vinetas--8{
    text-align: justify;
      color: #333;
      font-size: 14px;
      font-family: 'DINPro';
      line-height: 1.42857143;
      margin-left: 460px;
      margin-top: -38px;
  }
  
  
  /*historia*/
  .paragraph--titulo-principal--historia{/*se puede utilizar como titulo en general...ya si no funciona...se copia y modifica*/
    font-size: 30px;
      color: #333;
      font-weight: 600;
      margin-bottom: 23px;
      
  }
  
  .wrapper--recuadro--historia{/*se puede utilizar en general para los recuadros necesitados...si se necesita modificar...se crea otro*/
    border-left: 7px solid rgb(207 209 211);
    margin-left: 31px;
    margin-top: 28px;
    margin-bottom: 28px;
  }
  
  .paragraph--recuadro--historia{/*se puede utilizar en general para los recuadros necesitados*/
    margin-left: 10px;
      font-style: italic;
      color: #545860;
      font-size: 15px;
      font-family: 'DINPro';
  }
  
  
  .paragraph--contenido--historia::before {/*se utiliza para poner la primera frase escrita en content... en mayousculas al principio*/
    content: "La historia de ARTURO CALLE";
    font-weight: bold;
  } 
  
  .paragraph--contenido--historia {
    text-align: justify;
      color: #333;
      margin: 0 0 10px;
      line-height: 1.4em;
      font-size: 14px;
      font-family: 'DINPro';
      line-height: 1.42857143;
  
  }  
  
  .paragraph--sub--titulo--historia{/*se puede utilizar en general... pero se tiene que volver a escribir si se necesita cambiar algo */
    font-size: 25px;
    color: #333;
    font-weight: 600;
    margin-bottom: -2px;
  }
  
  
  /*politica envio cambios garantias*/
  .paragraph--sub--titulo--mas--pequeno--politica--envio--cambios--garantias{
    font-size: 20px;
    color: #333;
    font-weight: 600;
    margin-bottom: -2px;
  }
  
  .paragraph--contenido--vineta1--Cambio--en-puntos-de-venta-ARTURO-CALLE-ubicados-en-Colombia::before {
    content: "1. Cambio en puntos de venta ARTURO CALLE ubicados en Colombia:";
    font-weight: bold;
  } 
  
  .container--contenido--vineta1--Cambio--en-puntos-de-venta-ARTURO-CALLE-ubicados-en-Colombia{
    text-align: justify;
    color: #333;
    font-size: 14px;
    font-family: 'DINPro';
    line-height: 1.42857143;
    margin-left: 28px;
  }
  
  .paragraph--contenido--vineta2--Cambios-a-traves-de-la-pagina-web::before {
    content: "2. Cambios a través de la página web:";
    font-weight: bold;
  } 
  
  .container--contenido--vineta2--Cambios-a-traves-de-la-pagina-web{
    text-align: justify;
    color: #333;
    font-size: 14px;
    font-family: 'DINPro';
    line-height: 1.42857143;
    margin-left: 28px;
  }
  
  .link--contenido--vineta2--Cambios-a-traves-de-la-pagina-web{
    text-decoration: none;
    color: black;
  }
  
  .container--contenido--negrilla{
    text-align: justify;
    color: #333;
    font-size: 14px;
    font-family: 'DINPro';
    line-height: 1.42857143;
    font-weight: 700;
  }
  
  .paragraph--contenido--Cambio-del-producto-que-haya-sido-aprobado-por-talla-o-color::before {
    content: "Cambio del producto que haya sido aprobado por talla o color:";
    font-weight: bold;
  } 
  
  .container--contenido--Cambio-del-producto-que-haya-sido-aprobado-por-talla-o-color{
    text-align: justify;
    color: #333;
    font-size: 14px;
    font-family: 'DINPro';
    line-height: 1.42857143;
    margin-bottom: -14px;
  }
  
  .paragraph--contenido--vineta1--Solicitudes-a-traves-de-los-puntos-de-venta-ARTURO-CALLE::before {
    content: "1. Solicitudes a través de los puntos de venta ARTURO CALLE:";
    font-weight: bold;
  } 
  
  .container--contenido--vineta1--Solicitudes-a-traves-de-los-puntos-de-venta-ARTURO-CALLE{
    text-align: justify;
    color: #333;
    font-size: 14px;
    font-family: 'DINPro';
    line-height: 1.42857143;
    margin-left: 28px;
  }
  
  .paragraph--contenido--vineta2--Solicitudes-a-traves-de-la-pagina-web::before {
    content: "2. Solicitudes a través de la página web:";
    font-weight: bold;
  } 
  
  .container--contenido--vineta2--Solicitudes-a-traves-de-la-pagina-web{
    text-align: justify;
    color: #333;
    font-size: 14px;
    font-family: 'DINPro';
    line-height: 1.42857143;
    margin-left: 28px;
  }

  /*politica-de-datos*/

  .container--contenido--vinetas--numero--definiciones{/*se utilizan en las viñetas que requieran numeros de las politicas de datos*/
      color: #333;
      margin: 0 0 10px;
      font-size: 14px;
      font-family: 'DINPro';
      /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
      line-height: 1.42857143;
      margin-bottom: -19px;/*margen entre parrafo y parrafo*/
      margin-left: 22px;
  }

  /*condiciones-actividades-comerciales*/

  .paragraph--text-grid-fecha{
    font-size: 12px;
    margin-bottom: -34%;
  }

  .paragraph--text-grid-titulo{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5%;
  }

  .paragraph--text-grid--ver--mas{
    font-size: 12px;
  }

  .wrapper--sub--titulos1--condiciones-actividades-comerciales{
    margin-left: auto;
    margin-right: auto;
  }

  .paragraph--sub--titulos1--condiciones-actividades-comerciales{
    font-size: 19px;
    color: #333;
    font-weight: 600;
    margin-bottom: 4%;
  }

  .container--fecha--condiciones-actividades-comerciales{
    margin-top: -2%;
    margin-left: -1%;
  }

  .wrapper--fecha--condiciones-actividades-comerciales{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
  }

  .paragraph--fecha--condiciones-actividades-comerciales{
    text-align: justify;
    color: #333;
    font-size: 14px;
    font-family: 'DINPro';
    line-height: 1.42857143;
  }

  .container--contenido--condiciones-actividades-comerciales{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .paragraph--contenido--condiciones-actividades-comerciales{
    text-align: justify;
    color: #333;
    font-size: 14px;
    font-family: 'DINPro';
    line-height: 18px;
  }

  .container--subtitulo--condiciones-actividades-comerciales{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .paragraph--subtitulo--condiciones-actividades-comerciales{
    text-align: justify;
    color: #333;
    font-size: 14px;
    font-family: 'DINPro';
    line-height: 18px;
    font-weight: 600;
  }

  .wrapper--subtitulo--condiciones-actividades-comerciales-tabla{
    width: 100%;
    height: 33px;
  }
  .paragraph--subtitulo--condiciones-actividades-comerciales-tabla{
    text-align: justify;
    color: #333;
    font-size: 14px;
    font-family: 'DINPro';
    line-height: 18px;
    font-weight: 600;
    margin-top: 3%;
    margin-left: 5%;
  }

  .wrapper--producto{
    margin-top: -3%;
    margin-left: 4%;
  }

  .paragraph--producto{
    text-align: justify;
    color: #333;
    font-size: 14px;
    font-family: 'DINPro';
  }
  /*................................*/